body {
    background-color: black;
}

.imgLogo {
    min-width: 100%;
    max-width: 100%;
    background-color: transparent;
}

.animation {
    -webkit-animation: animation 3800ms linear infinite both;
    animation: animation 3800ms linear infinite both;
    width: 10em;
    height: 10em;
    background-color: transparent;
    margin-top: 15em;
    margin-left: 37em;
}

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    1.13% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.427, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.427, 0, 0, 1);
    }
    2.27% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 87.859, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 87.859, 0, 0, 1);
    }
    3.4% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.228, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.228, 0, 0, 1);
    }
    4.53% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 109.333, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 109.333, 0, 0, 1);
    }
    7.45% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 102.063, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 102.063, 0, 0, 1);
    }
    10.38% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.377, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.377, 0, 0, 1);
    }
    16.23% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.042, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.042, 0, 0, 1);
    }
    20.95% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.998, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.998, 0, 0, 1);
    }
    21.05% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -99.998, 0, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -99.998, 0, 0, 1);
    }
    22.1% {
        -webkit-transform: matrix3d(-0.294, 0.956, 0, 0, -0.956, -0.294, 0, 0, 0, 0, 1, 0, -29.391, 95.58, 0, 1);
        transform: matrix3d(-0.294, 0.956, 0, 0, -0.956, -0.294, 0, 0, 0, 0, 1, 0, -29.391, 95.58, 0, 1);
    }
    22.75% {
        -webkit-transform: matrix3d(0.036, -0.999, 0, 0, 0.999, 0.036, 0, 0, 0, 0, 1, 0, 3.621, -99.932, 0, 1);
        transform: matrix3d(0.036, -0.999, 0, 0, 0.999, 0.036, 0, 0, 0, 0, 1, 0, 3.621, -99.932, 0, 1);
    }
    23.32% {
        -webkit-transform: matrix3d(0.728, 0.685, 0, 0, -0.685, 0.728, 0, 0, 0, 0, 1, 0, 72.815, 68.539, 0, 1);
        transform: matrix3d(0.728, 0.685, 0, 0, -0.685, 0.728, 0, 0, 0, 0, 1, 0, 72.815, 68.539, 0, 1);
    }
    23.58% {
        -webkit-transform: matrix3d(-0.171, 0.985, 0, 0, -0.985, -0.171, 0, 0, 0, 0, 1, 0, -17.099, 98.525, 0, 1);
        transform: matrix3d(-0.171, 0.985, 0, 0, -0.985, -0.171, 0, 0, 0, 0, 1, 0, -17.099, 98.525, 0, 1);
    }
    24.45% {
        -webkit-transform: matrix3d(-0.082, -0.997, 0, 0, 0.997, -0.082, 0, 0, 0, 0, 1, 0, -8.185, -99.663, 0, 1);
        transform: matrix3d(-0.082, -0.997, 0, 0, 0.997, -0.082, 0, 0, 0, 0, 1, 0, -8.185, -99.663, 0, 1);
    }
    25.58% {
        -webkit-transform: matrix3d(0.31, 0.951, 0, 0, -0.951, 0.31, 0, 0, 0, 0, 1, 0, 31.003, 95.072, 0, 1);
        transform: matrix3d(0.31, 0.951, 0, 0, -0.951, 0.31, 0, 0, 0, 0, 1, 0, 31.003, 95.072, 0, 1);
    }
    26.11% {
        -webkit-transform: matrix3d(-0.665, 0.747, 0, 0, -0.747, -0.665, 0, 0, 0, 0, 1, 0, -66.499, 74.685, 0, 1);
        transform: matrix3d(-0.665, 0.747, 0, 0, -0.747, -0.665, 0, 0, 0, 0, 1, 0, -66.499, 74.685, 0, 1);
    }
    26.15% {
        -webkit-transform: matrix3d(-0.716, 0.698, 0, 0, -0.698, -0.716, 0, 0, 0, 0, 1, 0, -71.617, 69.792, 0, 1);
        transform: matrix3d(-0.716, 0.698, 0, 0, -0.698, -0.716, 0, 0, 0, 0, 1, 0, -71.617, 69.792, 0, 1);
    }
    26.32% {
        -webkit-transform: matrix3d(-0.884, 0.467, 0, 0, -0.467, -0.884, 0, 0, 0, 0, 1, 0, -88.428, 46.696, 0, 1);
        transform: matrix3d(-0.884, 0.467, 0, 0, -0.467, -0.884, 0, 0, 0, 0, 1, 0, -88.428, 46.696, 0, 1);
    }
    27.85% {
        -webkit-transform: matrix3d(-0.149, -0.989, 0, 0, 0.989, -0.149, 0, 0, 0, 0, 1, 0, -14.897, -98.884, 0, 1);
        transform: matrix3d(-0.149, -0.989, 0, 0, 0.989, -0.149, 0, 0, 0, 0, 1, 0, -14.897, -98.884, 0, 1);
    }
    30.11% {
        -webkit-transform: matrix3d(0.762, -0.647, 0, 0, 0.647, 0.762, 0, 0, 0, 0, 1, 0, 76.23, -64.723, 0, 1);
        transform: matrix3d(0.762, -0.647, 0, 0, 0.647, 0.762, 0, 0, 0, 0, 1, 0, 76.23, -64.723, 0, 1);
    }
    31.09% {
        -webkit-transform: matrix3d(0.782, -0.624, 0, 0, 0.624, 0.782, 0, 0, 0, 0, 1, 0, 78.182, -62.351, 0, 1);
        transform: matrix3d(0.782, -0.624, 0, 0, 0.624, 0.782, 0, 0, 0, 0, 1, 0, 78.182, -62.351, 0, 1);
    }
    31.25% {
        -webkit-transform: matrix3d(0.776, -0.631, 0, 0, 0.631, 0.776, 0, 0, 0, 0, 1, 0, 77.571, -63.109, 0, 1);
        transform: matrix3d(0.776, -0.631, 0, 0, 0.631, 0.776, 0, 0, 0, 0, 1, 0, 77.571, -63.109, 0, 1);
    }
    32.23% {
        -webkit-transform: matrix3d(0.688, -0.725, 0, 0, 0.725, 0.688, 0, 0, 0, 0, 1, 0, 68.832, -72.541, 0, 1);
        transform: matrix3d(0.688, -0.725, 0, 0, 0.725, 0.688, 0, 0, 0, 0, 1, 0, 68.832, -72.541, 0, 1);
    }
    34.65% {
        -webkit-transform: matrix3d(0.177, -0.984, 0, 0, 0.984, 0.177, 0, 0, 0, 0, 1, 0, 17.671, -98.426, 0, 1);
        transform: matrix3d(0.177, -0.984, 0, 0, 0.984, 0.177, 0, 0, 0, 0, 1, 0, 17.671, -98.426, 0, 1);
    }
    35.96% {
        -webkit-transform: matrix3d(-0.18, -0.984, 0, 0, 0.984, -0.18, 0, 0, 0, 0, 1, 0, -17.957, -98.375, 0, 1);
        transform: matrix3d(-0.18, -0.984, 0, 0, 0.984, -0.18, 0, 0, 0, 0, 1, 0, -17.957, -98.375, 0, 1);
    }
    35.99% {
        -webkit-transform: matrix3d(-0.186, -0.982, 0, 0, 0.982, -0.186, 0, 0, 0, 0, 1, 0, -18.647, -98.246, 0, 1);
        transform: matrix3d(-0.186, -0.982, 0, 0, 0.982, -0.186, 0, 0, 0, 0, 1, 0, -18.647, -98.246, 0, 1);
    }
    36.62% {
        -webkit-transform: matrix3d(-0.345, -0.938, 0, 0, 0.938, -0.345, 0, 0, 0, 0, 1, 0, -34.549, -93.842, 0, 1);
        transform: matrix3d(-0.345, -0.938, 0, 0, 0.938, -0.345, 0, 0, 0, 0, 1, 0, -34.549, -93.842, 0, 1);
    }
    40.97% {
        -webkit-transform: matrix3d(-0.94, -0.341, 0, 0, 0.341, -0.94, 0, 0, 0, 0, 1, 0, -94.013, -34.082, 0, 1);
        transform: matrix3d(-0.94, -0.341, 0, 0, 0.341, -0.94, 0, 0, 0, 0, 1, 0, -94.013, -34.082, 0, 1);
    }
    41.81% {
        -webkit-transform: matrix3d(-0.972, -0.237, 0, 0, 0.237, -0.972, 0, 0, 0, 0, 1, 0, -97.16, -23.663, 0, 1);
        transform: matrix3d(-0.972, -0.237, 0, 0, 0.237, -0.972, 0, 0, 0, 0, 1, 0, -97.16, -23.663, 0, 1);
    }
    43.42% {
        -webkit-transform: matrix3d(-0.997, -0.08, 0, 0, 0.08, -0.997, 0, 0, 0, 0, 1, 0, -99.682, -7.965, 0, 1);
        transform: matrix3d(-0.997, -0.08, 0, 0, 0.08, -0.997, 0, 0, 0, 0, 1, 0, -99.682, -7.965, 0, 1);
    }
    45.39% {
        -webkit-transform: matrix3d(-0.999, 0.042, 0, 0, -0.042, -0.999, 0, 0, 0, 0, 1, 0, -99.91, 4.238, 0, 1);
        transform: matrix3d(-0.999, 0.042, 0, 0, -0.042, -0.999, 0, 0, 0, 0, 1, 0, -99.91, 4.238, 0, 1);
    }
    45.87% {
        -webkit-transform: matrix3d(-0.998, 0.062, 0, 0, -0.062, -0.998, 0, 0, 0, 0, 1, 0, -99.809, 6.173, 0, 1);
        transform: matrix3d(-0.998, 0.062, 0, 0, -0.062, -0.998, 0, 0, 0, 0, 1, 0, -99.809, 6.173, 0, 1);
    }
    52.19% {
        -webkit-transform: matrix3d(-0.994, 0.106, 0, 0, -0.106, -0.994, 0, 0, 0, 0, 1, 0, -99.434, 10.628, 0, 1);
        transform: matrix3d(-0.994, 0.106, 0, 0, -0.106, -0.994, 0, 0, 0, 0, 1, 0, -99.434, 10.628, 0, 1);
    }
    53.51% {
        -webkit-transform: matrix3d(-0.996, 0.091, 0, 0, -0.091, -0.996, 0, 0, 0, 0, 1, 0, -99.582, 9.132, 0, 1);
        transform: matrix3d(-0.996, 0.091, 0, 0, -0.091, -0.996, 0, 0, 0, 0, 1, 0, -99.582, 9.132, 0, 1);
    }
    54.2% {
        -webkit-transform: matrix3d(-0.997, 0.083, 0, 0, -0.083, -0.997, 0, 0, 0, 0, 1, 0, -99.658, 8.26, 0, 1);
        transform: matrix3d(-0.997, 0.083, 0, 0, -0.083, -0.997, 0, 0, 0, 0, 1, 0, -99.658, 8.26, 0, 1);
    }
    60.53% {
        -webkit-transform: matrix3d(-1, 0.015, 0, 0, -0.015, -1, 0, 0, 0, 0, 1, 0, -99.989, 1.484, 0, 1);
        transform: matrix3d(-1, 0.015, 0, 0, -0.015, -1, 0, 0, 0, 0, 1, 0, -99.989, 1.484, 0, 1);
    }
    65.25% {
        -webkit-transform: matrix3d(-1, -0.005, 0, 0, 0.005, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.515, 0, 1);
        transform: matrix3d(-1, -0.005, 0, 0, 0.005, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.515, 0, 1);
    }
    65.62% {
        -webkit-transform: matrix3d(-1, -0.006, 0, 0, 0.006, -1, 0, 0, 0, 0, 1, 0, -99.998, -0.576, 0, 1);
        transform: matrix3d(-1, -0.006, 0, 0, 0.006, -1, 0, 0, 0, 0, 1, 0, -99.998, -0.576, 0, 1);
    }
    69.73% {
        -webkit-transform: matrix3d(-1, -0.007, 0, 0, 0.007, -1, 0, 0, 0, 0, 1, 0, -99.997, -0.727, 0, 1);
        transform: matrix3d(-1, -0.007, 0, 0, 0.007, -1, 0, 0, 0, 0, 1, 0, -99.997, -0.727, 0, 1);
    }
    73.68% {
        -webkit-transform: matrix3d(-1, -0.004, 0, 0, 0.004, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.442, 0, 1);
        transform: matrix3d(-1, -0.004, 0, 0, 0.004, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.442, 0, 1);
    }
    85.38% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.045, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.045, 0, 1);
    }
    87.36% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.047, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.047, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
    }
}

@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    1.13% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.427, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.427, 0, 0, 1);
    }
    2.27% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 87.859, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 87.859, 0, 0, 1);
    }
    3.4% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.228, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.228, 0, 0, 1);
    }
    4.53% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 109.333, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 109.333, 0, 0, 1);
    }
    7.45% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 102.063, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 102.063, 0, 0, 1);
    }
    10.38% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.377, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.377, 0, 0, 1);
    }
    16.23% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.042, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.042, 0, 0, 1);
    }
    20.95% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.998, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.998, 0, 0, 1);
    }
    21.05% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -99.998, 0, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -99.998, 0, 0, 1);
    }
    22.1% {
        -webkit-transform: matrix3d(-0.294, 0.956, 0, 0, -0.956, -0.294, 0, 0, 0, 0, 1, 0, -29.391, 95.58, 0, 1);
        transform: matrix3d(-0.294, 0.956, 0, 0, -0.956, -0.294, 0, 0, 0, 0, 1, 0, -29.391, 95.58, 0, 1);
    }
    22.75% {
        -webkit-transform: matrix3d(0.036, -0.999, 0, 0, 0.999, 0.036, 0, 0, 0, 0, 1, 0, 3.621, -99.932, 0, 1);
        transform: matrix3d(0.036, -0.999, 0, 0, 0.999, 0.036, 0, 0, 0, 0, 1, 0, 3.621, -99.932, 0, 1);
    }
    23.32% {
        -webkit-transform: matrix3d(0.728, 0.685, 0, 0, -0.685, 0.728, 0, 0, 0, 0, 1, 0, 72.815, 68.539, 0, 1);
        transform: matrix3d(0.728, 0.685, 0, 0, -0.685, 0.728, 0, 0, 0, 0, 1, 0, 72.815, 68.539, 0, 1);
    }
    23.58% {
        -webkit-transform: matrix3d(-0.171, 0.985, 0, 0, -0.985, -0.171, 0, 0, 0, 0, 1, 0, -17.099, 98.525, 0, 1);
        transform: matrix3d(-0.171, 0.985, 0, 0, -0.985, -0.171, 0, 0, 0, 0, 1, 0, -17.099, 98.525, 0, 1);
    }
    24.45% {
        -webkit-transform: matrix3d(-0.082, -0.997, 0, 0, 0.997, -0.082, 0, 0, 0, 0, 1, 0, -8.185, -99.663, 0, 1);
        transform: matrix3d(-0.082, -0.997, 0, 0, 0.997, -0.082, 0, 0, 0, 0, 1, 0, -8.185, -99.663, 0, 1);
    }
    25.58% {
        -webkit-transform: matrix3d(0.31, 0.951, 0, 0, -0.951, 0.31, 0, 0, 0, 0, 1, 0, 31.003, 95.072, 0, 1);
        transform: matrix3d(0.31, 0.951, 0, 0, -0.951, 0.31, 0, 0, 0, 0, 1, 0, 31.003, 95.072, 0, 1);
    }
    26.11% {
        -webkit-transform: matrix3d(-0.665, 0.747, 0, 0, -0.747, -0.665, 0, 0, 0, 0, 1, 0, -66.499, 74.685, 0, 1);
        transform: matrix3d(-0.665, 0.747, 0, 0, -0.747, -0.665, 0, 0, 0, 0, 1, 0, -66.499, 74.685, 0, 1);
    }
    26.15% {
        -webkit-transform: matrix3d(-0.716, 0.698, 0, 0, -0.698, -0.716, 0, 0, 0, 0, 1, 0, -71.617, 69.792, 0, 1);
        transform: matrix3d(-0.716, 0.698, 0, 0, -0.698, -0.716, 0, 0, 0, 0, 1, 0, -71.617, 69.792, 0, 1);
    }
    26.32% {
        -webkit-transform: matrix3d(-0.884, 0.467, 0, 0, -0.467, -0.884, 0, 0, 0, 0, 1, 0, -88.428, 46.696, 0, 1);
        transform: matrix3d(-0.884, 0.467, 0, 0, -0.467, -0.884, 0, 0, 0, 0, 1, 0, -88.428, 46.696, 0, 1);
    }
    27.85% {
        -webkit-transform: matrix3d(-0.149, -0.989, 0, 0, 0.989, -0.149, 0, 0, 0, 0, 1, 0, -14.897, -98.884, 0, 1);
        transform: matrix3d(-0.149, -0.989, 0, 0, 0.989, -0.149, 0, 0, 0, 0, 1, 0, -14.897, -98.884, 0, 1);
    }
    30.11% {
        -webkit-transform: matrix3d(0.762, -0.647, 0, 0, 0.647, 0.762, 0, 0, 0, 0, 1, 0, 76.23, -64.723, 0, 1);
        transform: matrix3d(0.762, -0.647, 0, 0, 0.647, 0.762, 0, 0, 0, 0, 1, 0, 76.23, -64.723, 0, 1);
    }
    31.09% {
        -webkit-transform: matrix3d(0.782, -0.624, 0, 0, 0.624, 0.782, 0, 0, 0, 0, 1, 0, 78.182, -62.351, 0, 1);
        transform: matrix3d(0.782, -0.624, 0, 0, 0.624, 0.782, 0, 0, 0, 0, 1, 0, 78.182, -62.351, 0, 1);
    }
    31.25% {
        -webkit-transform: matrix3d(0.776, -0.631, 0, 0, 0.631, 0.776, 0, 0, 0, 0, 1, 0, 77.571, -63.109, 0, 1);
        transform: matrix3d(0.776, -0.631, 0, 0, 0.631, 0.776, 0, 0, 0, 0, 1, 0, 77.571, -63.109, 0, 1);
    }
    32.23% {
        -webkit-transform: matrix3d(0.688, -0.725, 0, 0, 0.725, 0.688, 0, 0, 0, 0, 1, 0, 68.832, -72.541, 0, 1);
        transform: matrix3d(0.688, -0.725, 0, 0, 0.725, 0.688, 0, 0, 0, 0, 1, 0, 68.832, -72.541, 0, 1);
    }
    34.65% {
        -webkit-transform: matrix3d(0.177, -0.984, 0, 0, 0.984, 0.177, 0, 0, 0, 0, 1, 0, 17.671, -98.426, 0, 1);
        transform: matrix3d(0.177, -0.984, 0, 0, 0.984, 0.177, 0, 0, 0, 0, 1, 0, 17.671, -98.426, 0, 1);
    }
    35.96% {
        -webkit-transform: matrix3d(-0.18, -0.984, 0, 0, 0.984, -0.18, 0, 0, 0, 0, 1, 0, -17.957, -98.375, 0, 1);
        transform: matrix3d(-0.18, -0.984, 0, 0, 0.984, -0.18, 0, 0, 0, 0, 1, 0, -17.957, -98.375, 0, 1);
    }
    35.99% {
        -webkit-transform: matrix3d(-0.186, -0.982, 0, 0, 0.982, -0.186, 0, 0, 0, 0, 1, 0, -18.647, -98.246, 0, 1);
        transform: matrix3d(-0.186, -0.982, 0, 0, 0.982, -0.186, 0, 0, 0, 0, 1, 0, -18.647, -98.246, 0, 1);
    }
    36.62% {
        -webkit-transform: matrix3d(-0.345, -0.938, 0, 0, 0.938, -0.345, 0, 0, 0, 0, 1, 0, -34.549, -93.842, 0, 1);
        transform: matrix3d(-0.345, -0.938, 0, 0, 0.938, -0.345, 0, 0, 0, 0, 1, 0, -34.549, -93.842, 0, 1);
    }
    40.97% {
        -webkit-transform: matrix3d(-0.94, -0.341, 0, 0, 0.341, -0.94, 0, 0, 0, 0, 1, 0, -94.013, -34.082, 0, 1);
        transform: matrix3d(-0.94, -0.341, 0, 0, 0.341, -0.94, 0, 0, 0, 0, 1, 0, -94.013, -34.082, 0, 1);
    }
    41.81% {
        -webkit-transform: matrix3d(-0.972, -0.237, 0, 0, 0.237, -0.972, 0, 0, 0, 0, 1, 0, -97.16, -23.663, 0, 1);
        transform: matrix3d(-0.972, -0.237, 0, 0, 0.237, -0.972, 0, 0, 0, 0, 1, 0, -97.16, -23.663, 0, 1);
    }
    43.42% {
        -webkit-transform: matrix3d(-0.997, -0.08, 0, 0, 0.08, -0.997, 0, 0, 0, 0, 1, 0, -99.682, -7.965, 0, 1);
        transform: matrix3d(-0.997, -0.08, 0, 0, 0.08, -0.997, 0, 0, 0, 0, 1, 0, -99.682, -7.965, 0, 1);
    }
    45.39% {
        -webkit-transform: matrix3d(-0.999, 0.042, 0, 0, -0.042, -0.999, 0, 0, 0, 0, 1, 0, -99.91, 4.238, 0, 1);
        transform: matrix3d(-0.999, 0.042, 0, 0, -0.042, -0.999, 0, 0, 0, 0, 1, 0, -99.91, 4.238, 0, 1);
    }
    45.87% {
        -webkit-transform: matrix3d(-0.998, 0.062, 0, 0, -0.062, -0.998, 0, 0, 0, 0, 1, 0, -99.809, 6.173, 0, 1);
        transform: matrix3d(-0.998, 0.062, 0, 0, -0.062, -0.998, 0, 0, 0, 0, 1, 0, -99.809, 6.173, 0, 1);
    }
    52.19% {
        -webkit-transform: matrix3d(-0.994, 0.106, 0, 0, -0.106, -0.994, 0, 0, 0, 0, 1, 0, -99.434, 10.628, 0, 1);
        transform: matrix3d(-0.994, 0.106, 0, 0, -0.106, -0.994, 0, 0, 0, 0, 1, 0, -99.434, 10.628, 0, 1);
    }
    53.51% {
        -webkit-transform: matrix3d(-0.996, 0.091, 0, 0, -0.091, -0.996, 0, 0, 0, 0, 1, 0, -99.582, 9.132, 0, 1);
        transform: matrix3d(-0.996, 0.091, 0, 0, -0.091, -0.996, 0, 0, 0, 0, 1, 0, -99.582, 9.132, 0, 1);
    }
    54.2% {
        -webkit-transform: matrix3d(-0.997, 0.083, 0, 0, -0.083, -0.997, 0, 0, 0, 0, 1, 0, -99.658, 8.26, 0, 1);
        transform: matrix3d(-0.997, 0.083, 0, 0, -0.083, -0.997, 0, 0, 0, 0, 1, 0, -99.658, 8.26, 0, 1);
    }
    60.53% {
        -webkit-transform: matrix3d(-1, 0.015, 0, 0, -0.015, -1, 0, 0, 0, 0, 1, 0, -99.989, 1.484, 0, 1);
        transform: matrix3d(-1, 0.015, 0, 0, -0.015, -1, 0, 0, 0, 0, 1, 0, -99.989, 1.484, 0, 1);
    }
    65.25% {
        -webkit-transform: matrix3d(-1, -0.005, 0, 0, 0.005, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.515, 0, 1);
        transform: matrix3d(-1, -0.005, 0, 0, 0.005, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.515, 0, 1);
    }
    65.62% {
        -webkit-transform: matrix3d(-1, -0.006, 0, 0, 0.006, -1, 0, 0, 0, 0, 1, 0, -99.998, -0.576, 0, 1);
        transform: matrix3d(-1, -0.006, 0, 0, 0.006, -1, 0, 0, 0, 0, 1, 0, -99.998, -0.576, 0, 1);
    }
    69.73% {
        -webkit-transform: matrix3d(-1, -0.007, 0, 0, 0.007, -1, 0, 0, 0, 0, 1, 0, -99.997, -0.727, 0, 1);
        transform: matrix3d(-1, -0.007, 0, 0, 0.007, -1, 0, 0, 0, 0, 1, 0, -99.997, -0.727, 0, 1);
    }
    73.68% {
        -webkit-transform: matrix3d(-1, -0.004, 0, 0, 0.004, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.442, 0, 1);
        transform: matrix3d(-1, -0.004, 0, 0, 0.004, -1, 0, 0, 0, 0, 1, 0, -99.999, -0.442, 0, 1);
    }
    85.38% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.045, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.045, 0, 1);
    }
    87.36% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.047, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0.047, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
        transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
    }
}
